In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ast import literal_eval
import networkx as nx
from pprint import pprint
import os
import json

## Dataset from Kaggle: https://www.kaggle.com/rounakbanik/the-movies-dataset

In [2]:
# Read the files
movies_metadata = pd.read_csv('movies_metadata.csv')

/Users/zipeng/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Remove rows with dirty data
shitty_idx = []
for idx, row in movies_metadata.iterrows():
    if not row['id'].isdigit():
        shitty_idx.append(idx)
print(shitty_idx)
movies_metadata.drop(shitty_idx, axis=0, inplace=True)

[19730, 29503, 35587]

In [4]:
# Change the index type to int and remove duplicated
print(movies_metadata.shape)
movies_metadata['id'] = movies_metadata['id'].astype('int64')
movies_metadata.drop_duplicates(subset='id', inplace=True)
movies_metadata.set_index('id', inplace=True)
print(movies_metadata.shape)
print(movies_metadata.index)

(45463, 24)
(45433, 23)
Int64Index([   862,   8844,  15602,  31357,  11862,    949,  11860,  45325,
              9091,    710,
            ...
             84419, 390959, 289923, 222848,  30840, 439050, 111109,  67758,
            227506, 461257],
           dtype='int64', name='id', length=45433)

In [5]:
keywords = pd.read_csv('keywords.csv')
print(keywords.shape)
keywords.drop_duplicates(subset='id', inplace=True)
keywords.set_index('id', inplace=True)
print(keywords.shape)

(46419, 2)
(45432, 1)

In [6]:
credits = pd.read_csv('credits.csv')
print(credits.shape)
credits.drop_duplicates(subset='id', inplace=True)
credits.set_index('id', inplace=True)
print(credits.shape)

(45476, 3)
(45432, 2)

In [7]:
df = movies_metadata.join(keywords, how='inner').join(credits, how='inner')

In [8]:
print(movies_metadata.shape)
print(keywords.shape)
print(credits.shape)
print(df.shape)

(45433, 23)
(45432, 1)
(45432, 2)
(45432, 26)

In [9]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [10]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords', 'cast', 'crew'],
      dtype='object')

In [11]:
# Clean and transform some columns that comes with an array
parse_col = ['genres', 'keywords', 'production_countries', 'production_companies', 'spoken_languages', 
             'cast', 'crew', 'belongs_to_collection']
for column in parse_col:
    df[column] = df[column].fillna('[]').apply(literal_eval)
    df[column + '_cnt'] = df[column].map(len)
    print(column)
    print(df[column + '_cnt'].describe())
    print()

genres
count    45432.000000
mean         2.003324
std          1.130698
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          8.000000
Name: genres_cnt, dtype: float64

keywords
count    45432.000000
mean         3.446954
std          4.690083
min          0.000000
25%          0.000000
50%          2.000000
75%          5.000000
max        149.000000
Name: keywords_cnt, dtype: float64

production_countries
count    45432.000000
mean         1.086635
std          0.763007
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         25.000000
Name: production_countries_cnt, dtype: float64

production_companies
count    45432.000000
mean         1.550977
std          1.741638
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         26.000000
Name: production_companies_cnt, dtype: float64

spoken_languages
count    45432.000000
mean         1.172434
std          0.753488
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         19.000000
Name: spoken_languages_cnt, dtype: float64

cast
count    45432.000000
mean        12.371104
std         12.089791
min          0.000000
25%          6.000000
50%         10.000000
75%         15.000000
max        313.000000
Name: cast_cnt, dtype: float64

crew
count    45432.000000
mean        10.209456
std         15.804910
min          0.000000
25%          2.000000
50%          6.000000
75%         12.000000
max        435.000000
Name: crew_cnt, dtype: float64

belongs_to_collection
count    45432.000000
mean         0.395140
std          1.193506
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.000000
Name: belongs_to_collection_cnt, dtype: float64

In [12]:
# A hack to get rid of the NaN, which is not compatible with JSON serializer
df['homepage'].fillna('', inplace=True)
df['tagline'].fillna('', inplace=True)

In [13]:
# Take a look at the "array-like" columns by constructing different tables from them
def inspect_entities(e_name, id_col='id', include_cols=[]):
    entity_dict = {}
    for idx, row in df.iterrows():
        # quick hack for columns that are of type dict instead of array of dict
        temp = [row[e_name]] if e_name == 'belongs_to_collection' and pd.notna(row[e_name]) else row[e_name]
        for g in temp:
            eid = g[id_col]
            if eid not in entity_dict:
                entity_dict[eid] = {'name': g['name'], 'count': 0}
                # fill in the fields to be included
                for f in include_cols:
                    if f in g:
                        entity_dict[eid][f] = g[f]
            entity_dict[eid]['count'] += 1
    entity_df = pd.DataFrame(entity_dict).transpose()
    entity_df['count'] = entity_df['count'].astype('int')
    entity_df.sort_values('count', ascending=False, inplace=True)
    return entity_df

In [14]:
genres_df = inspect_entities('genres')
genres_df

       count             name
18     20244            Drama
35     13176           Comedy
53      7619         Thriller
10749   6730          Romance
28      6592           Action
27      4671           Horror
80      4304            Crime
99      3930      Documentary
12      3490        Adventure
878     3044  Science Fiction
10751   2767           Family
9648    2464          Mystery
14      2309          Fantasy
16      1931        Animation
10769   1619          Foreign
10402   1597            Music
36      1398          History
10752   1322              War
37      1042          Western
10770    766         TV Movie

In [15]:
# plt.hist(genres_df['count'], bins=50)
# plt.grid(True)
# plt.show()

In [16]:
keywords_df = inspect_entities('keywords')
keywords_df

        count                           name
187056   3039                 woman director
10183    1914               independent film
9826     1285                         murder
818       822                 based on novel
4344      726                        musical
572       679                            sex
14819     647                       violence
2483      629                         nudity
9748      618                        revenge
5565      613                      biography
9937      581                       suspense
9673      565                           love
293       555                  female nudity
6075      535                          sport
6149      451                         police
179431    440           duringcreditsstinger
13130     434                       teenager
9663      432                         sequel
6054      404                     friendship
1956      390                   world war ii
14964     358                           drug
9716      349                stand-up comedy
378       348                         prison
6270      314                    high school
779       310                   martial arts
236       306                        suicide
570       304                           rape
154802    304                    silent film
195402    302                      film noir
1930      300                     kidnapping
...       ...                            ...
175984      1                  carbon offset
175992      1                  easter island
12138       1                   big mountain
7443        1             kidney transplant
224350      1  bollywood-hollywood crossover
3913        1                  loss of taste
161258      1                     franciscan
233133      1                      paranoiac
194884      1                        psychos
237595      1                beautiful bride
237596      1                 rip-off artist
197997      1                     steel town
181028      1                   western band
10554       1                     john candy
180148      1                cigarette smoke
7625        1      young man seduces old man
173841      1                     body armor
235526      1                  cannibal cult
10406       1                        hebrews
11960       1                    naked scene
4482        1          double moral standard
7845        1                  riesenmonster
7034        1                   riesen käfer
173446      1                         mortar
161178      1                         wintry
188607      1                           rube
188606      1                 middle america
166244      1                     beatboxing
208126      1                   crown jewels
209358      1                           acab

[19956 rows x 2 columns]

In [17]:
plt.hist(keywords_df['count'], bins=50, log=True)
plt.grid(True)
plt.show()

In [18]:
cast_df = inspect_entities('cast', include_cols=['gender', 'profile_path'])
cast_df

         count gender                name                      profile_path
121323     241      1        Bess Flowers  /akbW8jJl8GSXFpixFaobMOqvNv4.jpg
113        148      2     Christopher Lee  /aVzp6zflzedmdKPLxaPqcZ05PDK.jpg
4165       125      2          John Wayne  /iw9gHSQj1l3TQeiJb5tNK2N8k2w.jpg
2231       123      2   Samuel L. Jackson  /AvCReLikjzYEf9XjTQxbv3JWgKT.jpg
3895       110      2       Michael Caine  /vvj0JMSFpOajXCE46Hy4dyqSP2U.jpg
16927      110      2    Gérard Depardieu  /kWGuy8UI8y3uqqCVoFvBVBe8w0J.jpg
8516       109      2      John Carradine  /iv9pZ2JRddIUNe2RgYAKmUR55WO.jpg
55636      108      2   Donald Sutherland  /tPLVaPjxEscGPKS3ieByloa8Mqj.jpg
18897      108      2         Jackie Chan  /tEJazyboCJcsvxnhKH3Hf33Bmgj.jpg
15831      107      2        Frank Welker  /b3gImArbw13mMKJIe9leFc9YYb7.jpg
380        104      2      Robert De Niro  /lvTSwUcvJRLAJ2FB5qFaukel516.jpg
11160      102      2         Danny Trejo  /7b8cDfrmeheQbgryfCm7MeJOxxM.jpg
884        101      2       Steve Buscemi  /e19GfOWzMNN1hi7B9Ci62hMvtXs.jpg
30530       98      2        Irving Bacon  /oI6h1L5HvvXLacBIlKoHcXrHbhI.jpg
1230        97      2        John Goodman  /eOIx8zj1vYIRhVY2bK5cjIQfua0.jpg
2047        96      2        Danny Glover  /jSNTEnm0Sxm8FRtoBfJmhmQyozH.jpg
4690        96      2  Christopher Walken  /ysO1GwRzLT9OVAB9Y2SKHxomqDr.jpg
2778        94      2       Dennis Hopper  /56nj2DfMVU3F9qUagZWMePLbrKF.jpg
5049        93      2           John Hurt  /tW6cOElGBdJl8nNrHwL6gvxvdkI.jpg
4038        93      1      Susan Sarandon  /giqZPokZi2nKLtYw8hrMVf8Vita.jpg
62          91      2        Bruce Willis  /2B7RySy2WMVJKKEFN2XA3IFb8w0.jpg
56890       90      2    Malcolm McDowell  /lnVJ6J8szi86ssDTfyvZSl8lnlr.jpg
21315       90      2        Eric Roberts  /45i6fsxBwH1UyA74tWQ6am0DntC.jpg
1037        90      2       Harvey Keitel  /4IcHhp1SCKijRxb7kqnxZNJuKdn.jpg
5293        89      2        Willem Dafoe  /xM5lhOR5tWWdIlFpBDeZJx9opIP.jpg
5401        88      2       Anthony Quinn  /9sKpm4KCoUbmMbR86fpqcgBCHrJ.jpg
65827       87      2         Keith David  /nwAC9TgwRkj0Ritq93O8GeublyL.jpg
9221        87      2    Donald Pleasence  /fr9lf679ZsHbDZsbcpKZfbFO1Pu.jpg
1640        86      2   Stellan Skarsgård  /hjWdhX7zEI0DkF7gA4hcEVcYCZl.jpg
192         85      2      Morgan Freeman  /oGJQhOpT8S1M56tvSsbEBePV5O1.jpg
...        ...    ...                 ...                               ...
1071154      1      0     Frank Cwertniak  /3bxRLPrGswvFQdAXVttlsdqutTl.jpg
549320       1      0       Louise Harris  /8EnZjKlnSxNdGAaxJeLcBMRODW7.jpg
549319       1      0      Lucas Pittaway  /rk2WTTRjShRhfIY62HyPQ0Rcws2.jpg
1198078      1      2      Paul Eddington  /gWp3Zy1VcjlxizHMhfxJhMrWGXE.jpg
1032117      1      0        Steve Weinik                              None
188951       1      0         Colin Smith                              None
1032116      1      0        Justin Duerr                              None
1194742      1      0        Frazer Hines                              None
229755       1      0      Hong Seung-Jin  /3tk7uHb9nBi9LwZyWGp19P0i5Vq.jpg
1099800      1      0       Jeong Gi-Seop  /nLnewAlS0Of8WBcBpvvWTXemEnm.jpg
1084660      1      0        Tak Sung-Eun  /7se32XesBKlqZL5X873zKm48zv6.jpg
1099795      1      1      Son Young-soon  /d7KoSioZ7wYpfv5sK9qnBYlKquw.jpg
229729       1      0          Lee Ji-Eun  /m12aktOrCt9rQRgMTgKPyUWAnsp.jpg
229728       1      0              Je Min  /fJkB1srLk8YfkZTQElHqulCngH9.jpg
229727       1      0        Hwang Min-Ho  /1wnjPCQpx6JEXqKfyX9EqQYd5RS.jpg
1225601      1      2          John Stone                              None
140136       1      0     Marianne Brauns                              None
1227491      1      0         Brown Derby                              None
123804       1      0        Ji Seong-Won  /8xvqX4uKdwGEuOpGp89Tr45gyNT.jpg
1026039      1      0         Bojan Perić                              None
1026038      1      0   Damijan Oklopdzic                              None
1026037      1      0          Dan Savier                              None
271710       1      0        Nick Harding                              None
1191491      1      0        Choi Phillip  /pgUN21rZnxuT0iQrDChASnmrIgk.jpg
1191490      1      0         Kim Soo-Jin  /cUl0c9dAGkjbTlPOCozvDe7UM2l.jpg
587632       1      1        Kim Mi-Kyung  /bRLtZnO0epZSMkTvOYyi6I4woDH.jpg
587641       1      0              Sa-Hee  /4yQTMDd1ltqiUDCC5jqaHpu5INk.jpg
186018       1      0        Jack Elliott                              None
1179594      1      0              Odetta                              None
1261758      1      0   Aleksandr Chabrov                              None

[206158 rows x 4 columns]

In [19]:
# Note: assume the same person will be in the same department and the same job for simplicity (which is NOT true) 
crew_df = inspect_entities('crew', include_cols=['gender', 'department', 'job', 'profile_path'])
crew_df

,count,department,gender,job,name,profile_path
9062,272,Art,2,Art Direction,Cedric Gibbons,/w8tc9iVH87Iu1KKFDZ9B99NhnBc.jpg
2952,184,Production,1,Casting,Avy Kaufman,/yQPGktsmkKkhkOQAUlmYlxHJOiJ.jpg
4350,165,Costume & Make-Up,1,Costume Design,Edith Head,/63ZeXQOh26sGa8nTbYWntieyWrz.jpg
102429,155,Production,2,Executive Producer,Roger Corman,/gCfEvxl7jTv2dBo8HvwWVMi3auz.jpg
1259,153,Sound,2,Music,Ennio Morricone,/tlntfyflyEHgJTFjqIgg8P8UIx9.jpg
3249,150,Sound,2,Original Music Composer,Max Steiner,None
5328,148,Production,2,Casting,Kerry Barden,/zb3khdNgVHerkFz4esvjSZHnbDW.jpg
13848,142,Directing,2,Director,Charlie Chaplin,/pcvSg2LqnyVFel9dPIwTRagpfur.jpg
4352,142,Costume & Make-Up,2,Makeup Artist,Mel Berns,None
5914,142,Production,1,Casting,Mary Vernieu,/rluDG0SLCvh3rVkMMp44C31iHIN.jpg
1760,138,Sound,2,Original Music Composer,Jerry Goldsmith,/e6sd10VuwFXkgRFrCTCygbhMq2q.jpg
4123,131,Production,2,Producer,Hal B. Wallis,None
8502,131,Production,2,Producer,Darryl F. Zanuck,/pfl8oR2otTYihADFtjLkrtKoFrM.jpg
3192,131,Production,2,Casting,Billy Hopkins,/vTGamEl7a1D93TCh165v8IyZZMG.jpg
3965,128,Production,1,Casting,Deborah Aquila,/7OBiqW30sXcW4f2xMds53L4JBN5.jpg
1263,126,Production,2,Casting,Lynn Stalmaster,/rhyzo2qgsGAXIpGTN5OabbZU95U.jpg
4023,125,Production,1,Casting,Suzanne Smith,/fASNhfD4Tmw6KPW0LoPUycIFxEL.jpg
488,123,Production,2,Producer,Steven Spielberg,/pOK15UNaw75Bzj7BQO1ulehbPPm.jpg
1034748,120,Production,1,Casting,Tricia Wood,None
6818,120,Directing,2,Director,Werner Herzog,/uzVcWEmasjz1Wl7w5mBF5vmmHlK.jpg
8503,119,Sound,2,Original Music Composer,Alfred Newman,/498k6KmplSJPvWzAecS7eUnaBNg.jpg
8508,118,Crew,2,Property Master,Thomas Little,None
59839,117,Production,2,Executive Producer,Harvey Weinstein,/k4UCnh7n0r5CEjq30gAl6QCfF9g.jpg
59,116,Directing,2,Director,Luc Besson,/dXJdczT1NcvcZtnoWVGT0NmG11v.jpg
2294,114,Directing,2,Director,Robert Rodriguez,/bPqRdLWWwpOT8sBdj9PWOzNgwou.jpg
1307,114,Production,2,Executive Producer,Bob Weinstein,/hheuMcH8MnFGmatPvhdLUNnSOwm.jpg
947,113,Sound,2,Original Music Composer,Hans Zimmer,/7IjJpvGtCfY0DsritmfCh2iX9I4.jpg
8622,112,Art,2,Art Direction,Hans Dreier,/pyVz3McZwtOFOVjx3jSqawd45Zj.jpg
9064,112,Costume & Make-Up,2,Costume Design,Adrian,/fnsEX7RnTRGuh32x8WmHrtz25D5.jpg
1213,110,Sound,2,Music,James Newton Howard,/5UTEMYS7rydwe7ooOmj2dLRFuu2.jpg
...,...,...,...,...,...,...
79014,1,Writing,0,Screenplay,Karen Kolus,None
231490,1,Directing,0,Director,Juan Carlos Valdivia,None
556017,1,Editing,0,Editor,Harry Lewinsson,None
556016,1,Crew,0,Cinematography,Tibor Gent,None
129754,1,Writing,0,Writer,Peter Kline,None
1773743,1,Production,1,Casting Assistant,Jenn Gaw,None
129899,1,Production,0,Producer,Aline Sasson,None
1782534,1,Art,1,Set Designer,Jami Primmer,None
129898,1,Production,0,Producer,Dana Hastier,None
129897,1,Production,0,Producer,Cati Couteau,None
578055,1,Writing,0,Story,I. A. R. Wylie,None
1544485,1,Costume & Make-Up,0,Makeup Artist,Maria Mastrocinque,None
1817023,1,Writing,0,Story,Vernon L. Fluharty,None
16804,1,Writing,0,Screenplay,Olaf Kraemer,None
16803,1,Writing,0,Screenplay,Claus Peter Hant,None
141060,1,Directing,0,Director,Joao G. Amorim,None
945223,1,Writing,1,Writer,Merriwether Williams,None
1128520,1,Production,0,Producer,Anthony Wilcox,None
110195,1,Crew,0,Cinematography,Johny Lal,None
6217,1,Directing,2,Director,Anupam Kher,/kgU5Ap1Kf9RnicB5DMcXEZqed2f.jpg
1069233,1,Writing,0,Story,Charles Leonard,None
67239,1,Production,0,Producer,Anton Hoeger,None
67235,1,Production,0,Producer,Joost Scholte,None
67231,1,Writing,0,Author,Ben Nedivi,None
1176920,1,Writing,0,Screenplay,Ainsworth Morgan,None
1782549,1,Production,1,Production Supervisor,Vail Romeyn,None
1782548,1,Production,0,Production Coordinator,Justin Haut,None
1782545,1,Art,0,Location Scout,Adam Boor,None
1782543,1,Production,0,Casting Associate,Jamie Stires,None
1344495,1,Directing,0,Director,Daisy Asquith,None

In [20]:
prod_comp_df = inspect_entities('production_companies')
prod_comp_df

       count                                         name
6194    1250                                 Warner Bros.
8411    1074                    Metro-Goldwyn-Mayer (MGM)
4       1001                           Paramount Pictures
306      836       Twentieth Century Fox Film Corporation
33       830                           Universal Pictures
441      448                Columbia Pictures Corporation
5358     435                                       Canal+
5        431                            Columbia Pictures
6        290                           RKO Radio Pictures
60       279                               United Artists
12       277                              New Line Cinema
2        263                         Walt Disney Pictures
9195     225                          Touchstone Pictures
559      197                             TriStar Pictures
5120     188                                      Mosfilm
14       182                                Miramax Films
18367    162  Centre National de la Cinématographie (CNC)
882      141                                 Toho Company
288      131                                    BBC Films
9        126                                      Gaumont
694      123                                  StudioCanal
7295     119                             Relativity Media
3823     117                         TF1 Films Production
3166     117                      Walt Disney Productions
41       111                               Orion Pictures
79       106                    Village Roadshow Pictures
508      106                          Regency Enterprises
3324     104       British Broadcasting Corporation (BBC)
83       103                              France 2 Cinéma
1632      98                                    Lionsgate
...      ...                                          ...
78057      1                            Dangerous To Know
22044      1                         Farlight Investments
22045      1                     Western Australian Films
94846      1                                     Eonwonsa
12709      1                            Firecracker Films
75132      1                           9/6 Cinema Factory
48456      1                       Triangle British Films
7304       1                             Modern VideoFilm
71334      1                                  Minos Films
12408      1                       Panda Productions Inc.
12409      1                                  Horticus UK
6490       1                            Sanctum Australia
19960      1        Great Wight Productions/ Osford Films
23922      1                         Forest Park Pictures
78058      1                                 Opal Records
10262      1                                   Blind Wink
82013      1                          Lea Cinematografica
73652      1                                Film+ Pologne
73653      1                                   Visa Films
91744      1                           Volcanic Eruptions
14002      1                                     Glendale
2921       1                  Visualizer Film Productions
5379       1                Desert Flower Filmproductions
5380       1                                Desert Flower
15057      1                             3rd Vision Films
26338      1                           Atrium Productions
21332      1                            Eye Entertainment
64891      1                                    Ombadsman
618        1                  Deutsche Filmvertriebs GmbH
88753      1                                    Yermoliev

[23692 rows x 2 columns]

In [21]:
prod_countries_df = inspect_entities('production_countries', id_col='iso_3166_1')
prod_countries_df

    count                                  name
US  21140              United States of America
GB   4091                        United Kingdom
FR   3932                                France
DE   2249                               Germany
IT   2166                                 Italy
CA   1765                                Canada
JP   1645                                 Japan
ES    964                                 Spain
RU    912                                Russia
IN    827                                 India
HK    596                             Hong Kong
SE    586                                Sweden
AU    570                             Australia
KR    494                           South Korea
BE    446                               Belgium
DK    384                               Denmark
FI    381                               Finland
NL    375                           Netherlands
CN    372                                 China
MX    328                                Mexico
PL    318                                Poland
BR    291                                Brazil
CH    254                           Switzerland
AR    254                             Argentina
IE    225                               Ireland
AT    209                               Austria
CZ    209                        Czech Republic
NO    201                                Norway
HU    175                               Hungary
GR    169                                Greece
..    ...                                   ...
MO      2                                 Macao
ML      2                                  Mali
TZ      2                              Tanzania
CI      2                         Cote D'Ivoire
PG      2                      Papua New Guinea
AZ      2                            Azerbaijan
TT      2                   Trinidad and Tobago
SA      2                          Saudi Arabia
UG      2                                Uganda
BD      2                            Bangladesh
GI      1                             Gibraltar
BM      1                               Bermuda
BB      1                              Barbados
BN      1                     Brunei Darussalam
HN      1                              Honduras
MD      1                               Moldova
WS      1                                 Samoa
TF      1           French Southern Territories
AQ      1                            Antarctica
PF      1                      French Polynesia
MM      1                               Myanmar
CG      1                                 Congo
AN      1                  Netherlands Antilles
KY      1                        Cayman Islands
UM      1  United States Minor Outlying Islands
MG      1                            Madagascar
SO      1                               Somalia
KW      1                                Kuwait
MQ      1                            Martinique
GN      1                                Guinea

[161 rows x 2 columns]

In [22]:
lang_df = inspect_entities('spoken_languages', id_col='iso_639_1')
lang_df

    count             name
en  28727          English
fr   4193         Français
de   2624          Deutsch
es   2413          Español
it   2366         Italiano
ja   1756              日本語
ru   1563          Pусский
zh    790              普通话
hi    706           हिन्दी
pt    591        Português
sv    559          svenska
ko    542          한국어/조선말
pl    524           Polski
cn    473        广州话 / 廣州話
fi    369            suomi
hu    360           Magyar
ar    341          العربية
nl    340       Nederlands
xx    319      No Language
da    301            Dansk
cs    283            Český
tr    247           Türkçe
he    215         עִבְרִית
el    213         ελληνικά
th    175          ภาษาไทย
no    170            Norsk
fa    141            فارسی
la    140            Latin
ro    128           Română
ta    111            தமிழ்
..    ...              ...
mt      3            Malti
tt      3
rw      3      Kinyarwanda
be      2  беларуская мова
uz      2            ozbek
ff      2         Fulfulde
sc      2
ny      2
co      2
dz      2
bi      1
tn      1
ki      1
fo      1
ha      1            Hausa
ig      1
sm      1
sn      1
as      1
ab      1
sg      1
br      1
ug      1
tk      1
fy      1
ht      1
to      1
ty      1
kw      1
mh      1

[133 rows x 2 columns]

In [23]:
collections_df = inspect_entities('belongs_to_collection', include_cols=['poster_path', 'backdrop_path'])
collections_df

/Users/zipeng/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

,backdrop_path,count,name,poster_path
415931,/foe3kuiJmg5AklhtD3skWbaTMf2.jpg,29,The Bowery Boys,/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg
421566,/jaUuprubvAxXLAY5hUfrNjxccUh.jpg,27,Totò Collection,/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg
645,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,26,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg
96887,/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.jpg,26,Zatôichi: The Blind Swordsman,/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg
37261,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg,25,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg
413661,None,21,Charlie Chan (Sidney Toler) Collection,/y0xWQpLRattvypZXF5ZiuipsD2U.jpg
34055,/iGoYKA0TFfgSoZpG2u5viTJMGfK.jpg,20,Pokémon Collection,/j5te0YNZAMXDBnsqTUDKIBEt8iu.jpg
374509,/dx9YSup5zEOjxYwG4UkYBVAZIXo.jpg,16,Godzilla (Showa) Collection,/scvwS6k8gIW8w24UcmePQqVL10l.jpg
148324,None,15,Uuno Turhapuro,None
38451,/9bE62qBanBFtoiIc9cXjk1xW3w.jpg,15,Charlie Chan (Warner Oland) Collection,/eSDdu6pbocmayu1SXQFU9VYYoQ6.jpg
425164,/7PcbijxTfwi9vjWEfXdS0ReAw8q.jpg,15,Dragon Ball Z (Movie) Collection,/2VMZ1zRFPnUQtQp5K4WRXvDYBjh.jpg
19163,/alkvR9vTtuZEmd5ygsayOfxYOMa.jpg,14,The Land Before Time Collection,/n1bjdBVThBezxR6nEf2dy43sTtV.jpg
224026,/kDsPcm1Qx5zjPNAZ80dBSHdTowH.jpg,14,Monster High Collection,/z230ua2CDBkPAQCOUmENphU9Hm9.jpg
479319,None,13,George Carlin Comedy Collection,None
69788,None,13,Sharpe Collection,/hmdcvEQA2uCGwB8MflWj0zTWov.jpg
9735,/c7pMKwv5NzIN6N3KM4L8fYMTtPw.jpg,12,Friday the 13th Collection,/uobgqpLQff9WvxGKE2OSvXv1RHm.jpg
24717,/1k71fktd6XL4b5sk0YH9yA8TwMX.jpg,12,Johan Falk GSI Collection,/7ePcKBHb0GAYugtOlU9QhRVLzNb.jpg
478628,/uuk6Gja81opjfmA7MN3WsOdtMYf.jpg,12,Sherlock Holmes (1939 series),/vjERITzfag3OJM6QXjZO6H7Ai3s.jpg
397842,/kPfuozrsE7pmFFolkR0xFicZDJT.jpg,12,The Amityville Horror Collection,/8uCu7d43IHPwFfNS2qCyVuRP1cP.jpg
41658,/h2L6fnTYieCrNscxbtjGG31lBRm.jpg,10,Fantozzi Collection,/m5pURXwh5fVdOG1vXvbKdJeW2hn.jpg
8917,/uaEUgCqB6lGkvM4Wy5blNwLJdfa.jpg,10,Hellraiser Collection,/lIK0UgJsA18Z5I1PwpucXzgyF3A.jpg
97919,None,10,The Love Comes Softly Collection,/AoO3BPRgLa044ppf0oNWqF7t4SI.jpg
458017,/hJuGS7kqaNxdHHDMEuof2GamCcK.jpg,10,Tom and Jerry Collection,/yBLkGyOVYN9yaQFVlRNnQapOMFQ.jpg
188138,/4UWNAVofz3dxMKdYyz2toobAooM.jpg,10,Il Maresciallo Giraldi Collection,/epNJVOU4c5i4P6Idifr7NwEQ3xM.jpg
107949,/crDZjaOpoUCIOoiQ9nLIAt8ZBul.jpg,10,Puppet Master Collection,/wuLaEcy10wqgiVi4nCjdPXvcCyw.jpg
25542,/1jt2T8oHR1NlzXr7TmSp0Ly9m9D.jpg,10,An American Girl Collection,/5JpcRXXuFSgYUgtSKvcdQE9LaMS.jpg
113589,/24OjcsCZPv2GrcSnwmLTjWRODlE.jpg,9,The Hire,/1mniyf3qfmmsO8PkuDXgOCyoi6G.jpg
59235,/hzhvjWY7l8iesSVQSV8BUCCY8Tk.jpg,9,Jesse Stone Collection,/1HkiRV7NmMJ04bQiVz6oGHTDhjP.jpg
94039,/f0mc4ObY75CrFzOYGNGiHXjgKGz.jpg,9,Asterix and Obelix (Animation) Collection,/mJ85mdtrQl2LWTNAHHcSJC55dcs.jpg
937,/6KE7AguGR3UqwUn5RkzkoBc3MLy.jpg,9,The Pink Panther (Original) Collection,/xu6gZ0zGUSR8SC2QLKFaUrX2niM.jpg
...,...,...,...,...
173738,None,1,Fanthagirò Collection,/t8TwvX5vP1Dukd5regdITIotQK.jpg
168949,None,1,The Encounter Collection,None
165855,/oJWaCCfkN4P15PghXNK72f2CR05.jpg,1,Kleines Arschloch Collection,/ayIx53r5l0PTX9hRBMoJLMcsrGE.jpg
297501,/bR2zZkiT0mdwfrQl7CQPvqB8nEu.jpg,1,Dixie Zombi - Colección,/fqRUpSwH5qj8vl7J7BHLzn4UywN.jpg
192167,/1JM59eYKXzZdDNCIke14kPmDtXk.jpg,1,The Bride with White Hair Collection,/4EdaC5ZG78ejS0YJwhSmamacpo7.jpg
259411,None,1,Sex Up Filmreihe,None
333000,None,1,Santa's Apprentice,/dV4bG6NRwSiyh6hUNditdQtpYgS.jpg
68589,/iLj79iSoIG2ee1p0w04Q1aEWndL.jpg,1,The Wixxer Trilogy,/3nYJt73H566hsYBeqvJzPkdaLeI.jpg
470274,None,1,Killer Crocodile Collection,None
473943,None,1,Gonin collection,None
412300,None,1,Fontaine Khaled Collection,None
396839,None,1,Robotech (Samling),None
167552,/trmtEmNjlh2OxRjkJFG02TaFFYO.jpg,1,Lemon Popsicle Collection,/kip5iBH8jb4nXb8ec8M7YyxoLxt.jpg
301508,None,1,Sadako 3D Collection,None
144146,/m8ENhvf3ZL295uPZKVzQQE6Wruq.jpg,1,Lemmy Caution Collection,/uhLJqJT2nC0CL4AnC6FNH1AolH5.jpg
126220,None,1,The Waxwork Collection,None
133887,None,1,Apocalypse Collection,/ddl3hAiOLnJzDEPGKVeRbQmoUJN.jpg
148065,/rc6OFcSasL5YxBRPUQVwxmVF6h5.jpg,1,Doraemon Collection,/69oxxREwOQBa5QISbH2gvBCyds2.jpg
182617,/8XATqiEaC5Xgse6dCGyzvRFEOBH.jpg,1,Elvira Collection,/vSXq0TqjCnHYVwcMUjRRjjWKfWG.jpg
149191,None,1,Lady Snowblood Collection,/d7ztUEeUpp3mGrD5xoLpi4sH8ad.jpg
139394,/3ujzJeNNNgVGR2BZwsJC72K9o02.jpg,1,Tomie Collection,/5ognzrjwA6Jqic0nNc2dVsjvuD6.jpg
353792,/90swgL2ZoOghyWwdm6cZGomBgBc.jpg,1,Garage Sale Mystery Collection,/2vg1zaQWGxuL6BJWfdtHZnjkzR0.jpg
441179,/1KK7GOKCEoegsK7maUM3uFvWDo0.jpg,1,Chaar Sahibzaade Collection,/8V8Xt8KqrUXgZptXWaoxyZQ6jst.jpg
47629,/d8OIvFPkrRY6jEblHXX28KdTVIP.jpg,1,Mr. Boogedy Collection,/h8TYvqsFI0S1SGXkMtQAoOfsQnW.jpg
404770,None,1,Superman (DC Universe Animated) Collection,None
147207,/ehLhVlA5riW7xYTmefb7Hqf0hMd.jpg,1,Glass Tiger collection,/f8h1V44zKFOFuW4DF56oV5ENu5r.jpg
260520,None,1,Kathleen Madigan Collection,None
268014,None,1,The Big Bottom Box,/5i9awYAZqAAleGx8JFTVZILnXMx.jpg
479549,/29ETFnPUNcsH9r7MflZ3Op0APJi.jpg,1,Joséphine - Saga,/yxp6kDbIAbDzyoUkAONISnc2Zfj.jpg
200641,/3fhHbLeO3DqdHvgHg5szs399eBb.jpg,1,Red Lotus Collection,/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg

In [24]:
df.to_csv('combined_dataframe.csv')

In [25]:
ratings_df = pd.read_csv('ratings.csv')

In [26]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [27]:
ratings_df.set_index('movieId', drop=False, append=True, inplace=True)

In [28]:
ratings_df[ratings_df['movieId'] == 27205]

                  userId  movieId  rating   timestamp
         movieId
3959442  27205     41190    27205     3.0  1275890695
4444634  27205     45811    27205     4.0  1455399770
19395887 27205    201372    27205     3.0  1310131491
21701284 27205    225396    27205     4.5  1275921784
23436635 27205    243331    27205     4.0  1275960427

## Sample and construct graphs

### 1. small graph with 10 top voted movies, and top 5 cast, and top 5 production companies (3 node types)

In [29]:
print(df['vote_count'].dtype)
top_voted = df.sort_values('vote_count', ascending=False).iloc[:10]
top_voted

float64

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,cast,crew,genres_cnt,keywords_cnt,production_countries_cnt,production_companies_cnt,spoken_languages_cnt,cast_cnt,crew_cnt,belongs_to_collection_cnt
id,,,,,,,,,,,,,,,,,,,,,
27205,False,[],160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://inceptionmovie.warnerbros.com/,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",29.1081,...,"[{'cast_id': 1, 'character': 'Dom Cobb', 'cred...","[{'credit_id': '56e8462cc3a368408400354c', 'de...",5,8,2,3,1,29,18,0
155,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,123.167,...,"[{'cast_id': 35, 'character': 'Bruce Wayne / B...","[{'credit_id': '55a0eb4a925141296b0010f8', 'de...",4,19,2,5,2,134,81,4
19995,False,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",185.071,...,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",4,21,2,4,2,83,153,4
24428,False,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,89.8876,...,"[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",3,10,1,2,1,115,147,4
293660,False,"{'id': 448150, 'name': 'Deadpool Collection', ...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxmovies.com/movies/deadpool,tt1431045,en,Deadpool,Deadpool tells the origin story of former Spec...,187.86,...,"[{'cast_id': 99, 'character': 'Wade Wilson / D...","[{'credit_id': '57e564fac3a3681beb0000cc', 'de...",3,9,1,5,1,46,88,4
157336,False,[],165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.interstellarmovie.net/,tt0816692,en,Interstellar,Interstellar chronicles the adventures of a gr...,32.2135,...,"[{'cast_id': 9, 'character': 'Joseph Cooper', ...","[{'credit_id': '54cba75b925141678e014d1a', 'de...",3,31,3,5,1,36,120,0
68718,False,[],100000000,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",http://unchainedmovie.com/,tt1853728,en,Django Unchained,"With the help of a German bounty hunter, a fre...",19.785,...,"[{'cast_id': 6, 'character': 'Django', 'credit...","[{'credit_id': '5703f6a2c3a36869850001d9', 'de...",2,21,1,2,3,115,88,0
118340,False,"{'id': 284433, 'name': 'Guardians of the Galax...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://marvel.com/guardians,tt2015381,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",53.2916,...,"[{'cast_id': 1, 'character': 'Peter Quill / St...","[{'credit_id': '538ce329c3a3687155003358', 'de...",3,9,2,4,1,80,105,4
550,False,[],63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.8696,...,"[{'cast_id': 4, 'character': 'The Narrator', '...","[{'credit_id': '55731b8192514111610027d7', 'de...",1,7,2,7,1,77,107,0
70160,False,"{'id': 131635, 'name': 'The Hunger Games Colle...",75000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.thehungergames.movie/,tt1392170,en,The Hunger Games,Every year in the ruins of what was once North...,20.0317,...,"[{'cast_id': 4, 'character': 'Katniss Everdeen...","[{'credit_id': '52fe47edc3a368484e0e0d2d', 'de...",3,16,1,2,1,48,61,4

In [30]:
movie_cols = ['adult', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies_cnt',
       'production_countries_cnt', 'release_date', 'revenue', 'runtime',
       'spoken_languages_cnt', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords_cnt', 'cast_cnt', 'crew_cnt']

# For types such as crew, cast, production companies, keywords, genres
other_type_cols = ['count', 'gender', 'department', 'job', 'poster_path', 'backdrop_path']

In [31]:
other_type_df = {
    'genres': genres_df,
    'keywords': keywords_df,
    'production_companies': prod_comp_df,
    'production_countries': prod_countries_df,
    'cast': cast_df,
    'crew': crew_df,
    'spoken_languages': lang_df,
    'belongs_to_collection': collections_df
}

In [32]:
# Get a dict of the attributes of a node (pandas.Series)
def get_node_attributes(node, fields):
    a = node.to_dict()
    ret = {}
    for f in fields:
        if f in a:
            ret[f] = int(a[f]) if f is 'count' else a[f]
    return ret

In [33]:
def create_nodes_and_edges(df, output_dir, include_node_types, limits, with_ratings=None):
    # Write the dataframe to disk for backup
    top_voted.to_csv(os.path.join(output_dir, 'dataframe.csv'))
    
    # Mapping from original id in the data table to the index in the nodes array
    # We need to use a new index system because the original ids are separated for different entities
    movie_mapping = {}
    other_type_mapping = []
    for i in range(len(include_node_types)):
        other_type_mapping.append({})
    if with_ratings:
        other_type_mapping.append({})
        
#     edges = []
#     nodes = []
    g = nx.Graph()
    node_idx = 0
    edge_idx = 0
    
    for movie_id, m in top_voted.iterrows():
#         nodes.append({'original_id': movie_id, 'label': m['original_title'], 'type': 'movie'})
        g.add_node(node_idx, original_id=movie_id, label=m['original_title'], type='movie', 
                   **get_node_attributes(m, movie_cols))
        movie_mapping[movie_id] = node_idx
        node_idx += 1

        for type_idx, t in enumerate(include_node_types):
            # assuming it is an array 
            column_array = m[t][:limits[type_idx]] if limits[type_idx] > 0 else m[t]
            for c in column_array:
                if c['id'] not in other_type_mapping[type_idx]:
#                     nodes.append({'original_id': c['id'], 'label': c['name'], 'type': t})
                    # print(get_node_attributes(other_type_df[t].loc[c['id']], other_type_cols))
                    g.add_node(node_idx, original_id=c['id'], label=c['name'], type=t,
                              **get_node_attributes(other_type_df[t].loc[c['id']], other_type_cols))
                    other_type_mapping[type_idx][c['id']] = node_idx
                    node_idx += 1
#                 edges.append({
#                     'source': movie_mapping[movie_id], 
#                     'target': other_type_mapping[type_idx][c['id']], 
#                     'weight': 1.0
#                 })
                g.add_edge(movie_mapping[movie_id], other_type_mapping[type_idx][c['id']])
                
        if with_ratings:
            for rid, r in ratings_df[ratings_df['movieId'] == movie_id].iloc[:with_ratings].iterrows():
                if r['userId'] not in other_type_mapping[-1]:
#                     nodes.append({'original_id': int(r['userId']), 'label': r['userId'], 'type': 'user'})
                    g.add_node(node_idx, original_id=int(r['userId']), label=r['userId'], type='user')
                    other_type_mapping[-1][r['userId']] = node_idx
                    node_idx += 1
#                 edges.append({
#                     'source': movie_mapping[movie_id], 
#                     'target': other_type_mapping[-1][r['userId']], 
#                     'weight': r['rating']
#                 })
                g.add_edge(movie_mapping[movie_id], other_type_mapping[-1][r['userId']], weight=r['rating'])


#     print(len(nodes), len(edges))
    print(g.number_of_nodes(), g.number_of_edges())
    # Construct dataframes to emit
#     nodes_df = pd.DataFrame(nodes)
#     edges_df = pd.DataFrame(edges)
#     nodes_df.to_csv(os.path.join(output_dir, 'nodes.csv'), index_label='node_index')
#     edges_df.to_csv(os.path.join(output_dir, 'edges.csv'), index_label='edge_index')
    json_data = nx.node_link_data(g)
    json.dump(json_data, open(os.path.join(output_dir, 'graph.json'), 'w'), indent=2, allow_nan=False)
    return g

In [34]:
g = create_nodes_and_edges(top_voted, './graphs/small-10-movies/', ['cast', 'production_companies'], [5, 5])

84 87

### 2. medium-sized graph with 20 top voted movies, and top 5 cast,  top 3 production companies, genres, and keywords (5 node types)

In [35]:
top_voted = df.sort_values('vote_count', ascending=False).iloc[:20]
g = create_nodes_and_edges(top_voted, './graphs/medium-20-movies/', 
                                            ['cast', 'production_companies', 'genres', 'keywords'], [5, 5, -1, -1])

404 536

### 3. medium-sized graph with 20 top voted movies, and top 5 cast,  top 3 production companies, genres, and 20 user ratings (5 node types)

In [36]:
top_voted = df.sort_values('vote_count', ascending=False).iloc[:20]
g = create_nodes_and_edges(top_voted, './graphs/medium-20-movies-with-ratings/', 
                                            ['cast', 'production_companies', 'genres'], [5, 5, -1], 20)

298 379

### 4. large graph with 100 top voted movies, and top 10 cast,  top 3 production companies, genres, and 30 user ratings (5 node types)

In [37]:
top_voted = df.sort_values('vote_count', ascending=False).iloc[:100]
g = create_nodes_and_edges(top_voted, './graphs/large-100-movies-with-ratings/', 
                                            ['cast', 'production_companies', 'genres'], [10, 5, -1], 30)

1815 2797

### 5. large graph with 500 top voted movies, and top 15 cast, top 4 production companies, genres, and 50 user ratings (5 node types)

In [38]:
top_voted = df.sort_values('vote_count', ascending=False).iloc[:500]
g = create_nodes_and_edges(top_voted, './graphs/large-500-movies-with-ratings/', 
                                            ['cast', 'production_companies', 'genres'], [20, 5, -1], 50)

11415 22453